Sample/.vs
Sample/XCameraSample/obj
Sample/XCameraSample.Android/obj
Sample/XCameraSample.iOS/obj
Source/.vs
Source/XCamera/obj
Source/XCamera.Android/obj
Source/XCamera.NuGet/bin
Source/XCamera.NuGet/obj
Source/XCamera.Shared/obj
Sample/XCameraSample/bin
Sample/XCameraSample.Android/bin
Sample/XCameraSample.iOS/bin
Source/XCamera.Android/bin
Source/XCamera.iOS/bin
Source/XCamera.iOS/obj
Source/XCamera.Shared/bin
